.main_home {
  background-image: url("/public/images/home_banner_bg.png");
  /* min-height: 100vh; */
  background-size: cover;
  padding-top: 90px;
  width: 100%;
  overflow: hidden;
  padding-bottom: 50px;
}

.main_home .home_right_img {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.home_banner_left {
  padding-top: 30px;
  padding-bottom: 30px;
}

.main_home .home_banner_left h1 {
  font-size: 50px;
  color: #fff;
  font-weight: 600;
}

.main_home .home_banner_left p {
  color: #fff;
  font-size: 18px;
  margin: 20px 0;
}

.main_home .home_banner_left .banner_btn {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 40px;
}

.main_home .home_banner_left .banner_btn button {
  background-color: #93b600;
  border: 1px solid #93b600;
  color: #fff;
  padding: 8px 15px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 500;
  font-size: 15px;
  transition: all 0.3s ease;
}

.main_home .home_banner_left .banner_btn button:hover {
  border: 1px solid #93b600;
  color: #93b600;
  background-color: transparent;
}

.main_home .home_banner_left .banner_btn button:last-child {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}

.main_home .home_banner_left .banner_btn button:last-child:hover {
  background-color: #fff;
  color: #000;
}

.main_home .home_banner_left .reviews {
  display: flex;
  align-items: center;
  gap: 15px;
}

.main_home .home_banner_left .reviews img {
  width: 170px;
}

.main_home .home_right_img img {
  width: 370px;
}

.vertical-dots {
  right: -20px;
  list-style: none;
  display: block;
  position: absolute;
  top: 40%;
  margin-top: -10px;
  text-align: right;
}

.vertical-dots li {
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.vertical-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.vertical-dots li button:hover,
.vertical-dots li button:focus {
  outline: none;
}

.vertical-dots li button:hover:before,
.vertical-dots li button:focus:before {
  opacity: 1;
}

.vertical-dots li button:before {
  font-family: "slick";
  font-size: 15px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  content: "•";
  text-align: center;
  opacity: 1;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vertical-dots li.slick-active button:before {
  opacity: 1;
  color: #a9c23f;
}

.top_home_exp {
  border-top: 1px solid #eaebeb66;
  color: #fff;
  padding: 25px 0;
}

.top_home_exp h6 {
  font-size: 25px;
  font-weight: 600;
}

.top_home_exp p {
  font-size: 20px;
}

.home_about {
  background: linear-gradient(149deg,
      #3faac2 32.68%,
      rgba(206, 255, 0, 0.47) 82.01%);
  padding: 70px 0;
}

.home_about .about {
  border-radius: 30px;
  border: 1.8px solid #fff;
  background: linear-gradient(180deg,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0) 100%),
    linear-gradient(111deg,
      rgba(255, 255, 255, 0.5) 101.22%,
      rgba(255, 255, 255, 0) 103.95%);
  backdrop-filter: blur(25px);
  height: 550px;
}

.home_about .about h6 {
  color: #131415;
  font-size: 22px;
  text-transform: uppercase;
}

.home_about .about h4 {
  font-size: 45px;
  font-weight: 700;
  color: #131415;
  line-height: 1.2;
  margin: 15px 0;
}

.home_about .about button {
  background-color: #01519b;
  color: #fff;
  border: 1px solid #01519b;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
  font-weight: 600;
  transition: all 0.2s ease;
}

.home_about .about button:hover svg path {
  fill: #01519b !important;
}

.home_about .about button:hover {
  background-color: transparent;
  border: 1px solid #01519b;
  color: #01519b;
}

.home_about .about button:last-child {
  border: 1px solid #000;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.16);
  background-color: transparent;
  color: #000;
}

.home_about .about button:last-child:hover {
  background-color: #000;
  color: #fff;
}

.home_about .about button:last-child:hover svg path {
  fill: #fff !important;
}

.home_about .about .about_learn_btn {
  display: flex;
  gap: 10px 10px;
}

.home_about .about .about_box {
  border-radius: 15px;
  border: 1.8px solid #ebebeb;
  background: linear-gradient(180deg,
      rgba(255, 255, 255, 0.9) 0%,
      rgba(255, 255, 255, 0) 100%),
    linear-gradient(111deg,
      rgba(255, 255, 255, 0.9) -4.87%,
      rgba(255, 255, 255, 0) 103.95%);
  backdrop-filter: blur(25px);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}

.home_about .about .boxes {
  position: relative;
  top: -30px;
}

.home_about .about .about_box p {
  font-size: 22px;
  font-weight: 600;
  width: 50%;
  text-align: center;
}

.home_about .about .about_box img {
  width: 50%;
  height: 115px;
  object-fit: cover;
  border-radius: 15px;
  margin: 13px;
}

.home_services {
  background-color: #f9f9f9;
  padding: 60px 0;
}

.home_services h6 {
  color: #787878;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.home_services h4 {
  font-size: 40px;
  margin-top: 10px;
  font-weight: 600;
  color: #131415;
  margin-right: 75px;
  position: relative;
}

.home_services h4 svg {
  position: absolute;
  right: -25px;
  top: -25px;
}

.home_services .services_box {
  margin-top: 50px;
  display: flex;
  flex-flow: wrap;
}

.home_services .services_box .box {
  border: 1px solid #e0e0e0;
  width: 50%;
  padding: 50px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.home_services .services_box .box:hover {
  background-color: #01519b;
}

.home_services .services_box .box svg {
  color: #01519b;
  fill: #01519b;
  margin-right: 10px;
  transition: all 0.2s ease;
}

.home_services .services_box .box:hover svg path {
  fill: #fff !important;
  stop-color: #fff !important;
  color: #fff !important;
}

.home_services .services_box .box h5 {
  font-size: 28px;
  font-weight: 700;
}

.home_services .services_box .box:hover h5 {
  color: #fff;
}

.home_services .services_box .box p {
  padding: 14px 0;
  font-size: 18px;
  line-height: 1.3;
  color: #787878;
}

.home_services .services_box .box:hover p {
  color: #fff;
}

.home_services .services_box .box button {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #01519b;
  color: #01519b;
  font-size: 16px;
  margin-top: 10px;
}

.home_services .services_box .box:hover button {
  border-bottom: 1px solid #fff;
  color: #fff;
}

.home_services .services_box .box:hover button svg path {
  fill: #fff !important;
  stroke: #fff !important;
  stop-color: #fff !important;
}

.home_services .services_box .box:hover button svg {
  margin-left: 11px;
}

.home_featured {
  background-color: #131415;
  background-image: url("/public/images/feature_bg.png");
  background-size: 100% 100%;
  padding: 70px 0;
  width: 100%;
  position: relative;
}

.home_featured::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #00000099;
  height: 100%;
}

.home_featured .container {
  position: relative;
  z-index: 2;
  color: #fff;
  text-align: center;
}

.home_featured .container h6 {
  color: #f9f9f9;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 17px;
}

.home_featured h2 {
  margin: 17px 0;
  font-size: 32px;
  max-width: 1000px;
  margin: 15px auto;
}

.home_featured button {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  padding: 7px 20px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 15px;
  transition: all 0.3s ease;
}

.home_featured button:hover {
  background-color: #fff;
  color: #000;
  transition: all 0.3s ease;
}

.home_featured button:hover svg {
  margin-left: 10px;
  transition: all 0.3s ease;
}

.home_featured button:hover svg path {
  fill: #000;
  transition: all 0.3s ease;
}

.home_product {
  padding: 50px 0;
}

.home_product h6 {
  color: #787878;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.home_product h4 {
  font-size: 40px;
  margin-top: 10px;
  font-weight: 600;
  color: #131415;
  margin-right: 75px;
  position: relative;
  max-width: 800px;
}

.home_product .product_main_wrap {
  border-radius: 30px;
  background: linear-gradient(149deg,
      #3faac2 32.68%,
      rgba(206, 255, 0, 0.47) 82.01%);
  padding: 25px;
  margin-top: 35px;
  position: relative;
}

.home_product .product_main_wrap .product_inner {
  border-radius: 15px;
  border: 1.8px solid #fff;
  background: linear-gradient(180deg,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0) 100%),
    linear-gradient(111deg,
      rgba(255, 255, 255, 0.5) -4.87%,
      rgba(255, 255, 255, 0) 103.95%);
  backdrop-filter: blur(25px);
  padding: 35px;
}

.home_product .product_main_wrap .product_inner h6 {
  font-size: 16px;
}

.home_product .product_main_wrap .product_inner h3 {
  font-weight: 800;
  color: #000;
  font-size: 35px;
  margin: 10px 0;
}

.home_product .product_main_wrap .product_inner ul {
  margin-top: 20px;
}

.home_product .product_main_wrap .product_inner ul li {
  color: #1b1b1b;
  font-weight: 600;
  font-size: 17px;
}

.home_product .product_main_wrap .product_inner p {
  font-size: 17px;
  line-height: 1.6;
  color: #1b1b1b;
  font-weight: 500;
  margin-bottom: 25px;
}

.home_product .product_main_wrap .product_inner .product_btn {
  background-color: #01519b;
  color: #fff;
  border: 1px solid #01519b;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 40px;
  font-weight: 600;
  transition: all 0.2s ease;
}

.home_product .product_main_wrap .product_inner .product_btn:hover {
  background-color: transparent;
  color: #01519b;
}

.home_product .product_main_wrap .product_inner .product_btn:hover svg path {
  fill: #01519b;
  color: #01519b;
}

.home_product .product_main_wrap .product_inner .slick-prev {
  left: auto;
  right: 10%;
  top: 100%;
}

.home_product .product_main_wrap .product_inner .slick-prev:before {
  color: transparent;
  font-size: 0 !important;
}

.home_product .product_main_wrap .product_inner .slick-prev.prev_arrow {
  background-image: url("/public/images/product_arrow_left.png") !important;
  width: 45px;
  height: 45px;
  background-size: cover;
  background-position: center;
}

.home_product .product_main_wrap .product_inner .slick-next {
  left: auto;
  right: 5%;
  top: 100%;
}

.home_product .product_main_wrap .product_inner .slick-next:before {
  color: transparent;
}

.home_product .product_main_wrap .product_inner .slick-next.next_arrow {
  background-image: url("/public/images/product_arrow_right.png") !important;
  width: 45px;
  height: 45px;
  background-size: cover !important;
  background-position: center !important;
}

.home_partner {
  /* margin-top: 25px; */
  border-top: 1px solid rgba(124, 123, 123, 0.2);
  padding-top: 60px;
}

.home_partner h5 {
  text-align: center;
  color: #787878;
  font-weight: 400;
  letter-spacing: 1px;
}

.home_partner h2 {
  max-width: 500px;
  font-weight: 600;
  text-align: center;
  margin: auto;
  font-size: 36px;
  margin-top: 10px;
  line-height: 1.4;
  color: #000;
}

.home_partner .partner_box {
  border-radius: 30px;
  background: var(--White, #fff);
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.16);
  text-align: center;
  padding: 20px;
  transition: all 0.2s ease;
  cursor: pointer;
  max-width: 220px;
}

.partners{
  display: flex;
  gap: 20px;
  margin: 50px 0;
  justify-content: center;
}

.home_partner .partner_box img {
  width: 90px;
  height: 90px;
  object-fit: contain;
}

.home_partner .partner_box:hover {
  transform: scale(1.06);
}

.home_partner .row {
  margin: 50px 0;
  justify-content: center;
}

.home_partner .partner_box h6 {
  color: #787878;
  margin: 5px 0px;
  font-size: 15px;
}

.home_industries {
  background-color: #f9f9f9;
  padding: 50px 0;
}

.home_industries h6 {
  color: #787878;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.home_industries h4 {
  font-size: 40px;
  margin-top: 10px;
  font-weight: 600;
  color: #131415;
  margin-right: 75px;
  position: relative;
  max-width: 800px;
}

.home_industries .industry_slider {
  padding: 100px 0;
  overflow: hidden;
  margin-bottom: 10px;
}

.home_industries .industry_slider .industry_box {
  background-image: url("/public/images/industry1.jpg");
  width: 100%;
  padding: 25px;
  height: 280px;
  background-size: cover;
  position: relative;
}

.home_industries .industry_slider .industry_box.ind1 {
  background-image: url('/public/images/innovation1.jpg');
}

.home_industries .industry_slider .industry_box.ind2 {
  background-image: url('/public/images/innovation2.jpg');
}

.home_industries .industry_slider .industry_box.ind3 {
  background-image: url('/public/images/innovation3.jpg');
}

.home_industries .industry_slider .industry_box.ind4 {
  background-image: url('/public/images/innovation4.jpg');
}

.home_industries .industry_slider .industry_box.ind5 {
  background-image: url('/public/images/innovation5.jpg');
}

.home_industries .industry_slider .industry_box.ind6 {
  background-image: url('/public/images/innovation6.jpg');
}

.home_industries .industry_slider .industry_box::before {
  content: "";
  position: absolute;
  background-color: #00000087;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.home_industries .industry_slider .industry_box div {
  position: relative;
  color: #fff;
}

.home_industries .industry_slider .industry_box div h2 {
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 10px;
}

.home_industries .industry_slider .industry_box div p {
  font-size: 19px;
  max-width: 500px;
}

.home_industries .industry_slider .industry_box div button {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  font-size: 17px;
  margin-top: 20px;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  transition: all 0.2s ease;
  font-weight: 500;
}

.home_industries .industry_slider .industry_box div button svg {
  width: 20px;
}

.home_industries .industry_slider .industry_box div button:hover {
  background-color: #fff;
  color: #000;
}

.home_industries .industry_slider .industry_box div button:hover svg path {
  fill: #000;
}

.home_industries .slick-center {
  padding: 0 30px;
}

.home_industries .slick-current .industry_box {
  height: 320px;
}

.home_industries .industry_slider .slick-slider .slick-track {
  display: flex;
  align-items: end;
}

.home_industries .industry_slider .slick-slider .slick-prev {
  left: 42%;
  top: auto;
  bottom: -30%;
}

.home_industries .industry_slider .slick-slider .slick-prev:before {
  color: transparent;
  font-size: 0 !important;
}

.home_industries .industry_slider .slick-slider .slick-prev.ind_prev_arrow {
  background-image: url("/public/images/product_arrow_left.png") !important;
  width: 45px;
  height: 45px;
  background-size: cover;
  background-position: center;
}

.home_industries .industry_slider .slick-slider .slick-dots {
  position: absolute;
  bottom: -19%;
  display: block;
  width: fit-content;
  margin: auto;
  margin: auto;
  list-style: none;
  text-align: center;
  left: 46%;
}

.home_industries .industry_slider .slick-slider .slick-dots li {
  width: 6px;
}

.home_industries .industry_slider .slick-slider .slick-next {
  left: auto;
  top: auto;
  bottom: -30%;
  right: 42%;
}

.home_industries .industry_slider .slick-slider .slick-next:before {
  color: transparent;
}

.home_industries .industry_slider .slick-slider .slick-next.ind_next_arrow {
  background-image: url("/public/images/product_arrow_right.png") !important;
  width: 45px;
  height: 45px;
  background-size: cover !important;
  background-position: center !important;
}

.home_clients {
  padding: 85px 0;
}

.home_clients h6 {
  color: #787878;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.home_clients h4 {
  font-size: 35px;
  font-weight: 900;
  color: #131415;
  margin-top: 15px;
}

.home_clients p {
  font-size: 20px;
  margin: 15px 0;
}

.home_clients button {
  background-color: transparent;
  border: 1px solid #000;
  padding: 6px 20px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.home_clients button:hover {
  background-color: #000;
  color: #fff;
}

.home_clients button:hover svg path {
  fill: #fff;
}

.client_imgs .col-md-3 {
  text-align: center;
}

.client_imgs img {
  width: 90px;
  height: 90px;
  object-fit: contain;
}

.technology_work {
  background-color: #01519b;
  padding: 50px 0;
}

.technology_work h1 {
  text-align: center;
  color: #fff;
  font-weight: 800;
  font-size: 45px;
}

.technology_work ul {
  display: flex;
  list-style-type: none;
  gap: 45px;
  justify-content: center;
  margin: 40px 0;
  font-size: 22px;
  color: #fff;
}

.technology_work ul li {
  cursor: pointer;
}

.technology_work .tech_languages {
  max-width: 1000px;
  margin: 60px auto 0 auto;
  text-align: center;
}

.technology_work .tech_languages p {
  color: #fff;
}

@media (max-width: 1200px) {
  .top_home_exp p {
    font-size: 17px;
  }

  .main_home .home_right_img img {
    width: 300px;
  }

  .main_home .home_banner_left h1 {
    font-size: 40px;
  }

  .main_home .home_banner_left p {
    font-size: 16px;
  }

  .main_home .home_banner_left .banner_btn button {
    font-size: 14px;
  }

  .home_about .about h4 {
    font-size: 30px;
  }

  .home_about .about .about_learn_btn {
    gap: 10px 6px;
  }

  .home_about .about button {
    padding: 7px 15px;
    margin: 0;
  }

  .home_about .about .about_box img {
    height: 100px;
  }

  .home_about .about .about_box p {
    font-size: 19px;
  }

  .home_about .about {
    height: 500px;
  }

  .home_industries .slick-current .industry_box {
    height: 280px;
  }

  .home_product .product_main_wrap .product_inner .slick-next {
    right: 3%;
  }

  .core_values .value_box{
    padding: 30px 15px;
  }

}

@media (max-width: 767px) {
  .vertical-dots {
    list-style: none;
    position: static;
    text-align: center;
    display: flex !important;
    justify-content: center;
    padding-left: 0;
  }

  .main_home .home_banner_left .reviews {
    flex-direction: column;
  }

  .main_home .home_right_img img {
    width: 300px;
  }

  .home_banner_left {
    padding: 30px 20px;
  }

  .main_home .home_banner_left p {
    font-size: 15px;
  }

  .main_home .home_banner_left h1 {
    font-size: 35px;
  }

  .main_home .home_banner_left .banner_btn {
    flex-direction: column;
  }

  .main_home .home_banner_left .banner_btn button {
    padding: 10px 15px;
    width: 100%;
    justify-content: center;
  }

  .main_home .home_right_img {
    margin: 10px 0 50px 0;
  }

  .top_home_exp .col-md-3 {
    text-align: center;
    margin-bottom: 20px;
  }

  .home_about {
    padding: 30px 0;
  }

  .home_about .about {
    height: auto;
    padding: 15px;
    backdrop-filter: none;
  }

  .home_about .about .boxes {
    top: 0;
  }

  .home_about .about h6 {
    text-align: center;
    font-weight: 800;
  }

  .home_about .about h4 {
    margin: 25px 0;
    text-align: center;
    font-size: 25px;
  }

  .home_about .about .about_learn_btn {
    flex-direction: column;
  }

  .home_about .about button {
    padding: 12px 20px;
    justify-content: center;
    margin: 0;
  }

  .home_about .about button:last-child {
    margin-bottom: 25px;
  }

  .home_about .about .about_box p {
    font-size: 17px;
  }

  .home_services h4 svg {
    right: -70px;
    top: -50px;
  }

  .home_services h4 svg {
    right: 0px;
    top: -70px;
    width: 100px;
    height: 100px;
  }

  .home_services h4 {
    font-size: 28px;
    margin-top: 10px;
    font-weight: 600;
    color: #131415;
    margin-right: 20px;
    position: relative;
  }

  .home_services .services_box .box {
    width: 100%;
  }

  .home_featured {
    background-size: cover;
  }

  .home_featured::before {
    background-color: #000000b8;
  }

  .home_featured .container h6 {
    font-size: 15px;
  }

  .home_featured h2 {
    margin: 25px 0;
    font-size: 25px;
  }

  .home_featured button {
    padding: 7px 40px;
  }

  .home_product h4 {
    font-size: 28px;
  }

  .home_product .product_main_wrap {
    border-radius: 20px;
    padding: 10px;
  }

  .home_product .product_main_wrap .product_inner {
    border-radius: 15px;
    backdrop-filter: none;
    padding: 15px;
    padding-bottom: 100px;
  }

  .home_product .product_main_wrap .product_inner .product_btn {
    width: 100%;
    justify-content: center;
    margin-bottom: 30px;
  }

  .home_product .product_main_wrap .product_inner .slick-next {
    left: auto;
    right: 30%;
    top: 105%;
  }

  .home_product .product_main_wrap .product_inner .slick-prev {
    left: auto;
    right: 50%;
    top: 105%;
  }

  .home_partner h2 {
    font-size: 25px;
    line-height: 1;
  }

  .partners{
    flex-wrap: wrap;
  }

  .home_partner .partner_box {
    margin-bottom: 20px;
    width: 40%;
  }

  .home_partner .partner_box img {
    width: 90px;
    height: 90px;
    object-fit: contain;
  }

  .home_industries h4 {
    font-size: 25px;
    margin-right: 0px;
    text-align: center;
  }

  .home_industries h6 {
    text-align: center;
  }

  .home_industries .industry_slider .slick-slider .slick-prev {
    left: 35%;
  }

  .home_industries .industry_slider .slick-slider .slick-next {
    right: 35%;
  }

  .home_clients {
    padding: 50px 0;
  }

  .home_clients h4 {
    text-align: center;
    font-size: 25px;
  }

  .home_clients h6 {
    text-align: center;
  }

  .home_clients p {
    font-size: 19px;
  }

  .home_clients button {
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
    padding: 10px 20px;
  }

  .technology_work h1 {
    font-size: 28px;
  }

  .technology_work ul {
    gap: 8px 25px;
    padding-left: 0;
    flex-wrap: wrap;
  }

  .newsletter_main .container h1 {
    font-size: 35px;
  }

  .newsletter_main .container p {
    font-size: 17px;
  }

  .personal_info {
    display: flex;
    gap: 20px;
    margin-top: 45px;
    flex-direction: column;
    margin-bottom: 35px;
  }

  .home_industries .industry_slider .industry_box div h2 {
    font-size: 30px;
  }

  .home_industries .industry_slider .industry_box div p {
    font-size: 17px;
  }

  .home_industries .industry_slider .industry_box div button {
    font-size: 15px;
    padding: 5px 20px;
  }

  .home_industries .industry_slider {
    padding: 40px 0 100px 0;
  }

}